.quiz-form {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 2rem;
}

.quiz-form select, .quiz-form button {
  width: 100%;
}

.quiz-form button {
  margin-top: 5px;
}

#topic-container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  margin: 5px;
  gap: 10px;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
    max-width: 100%;
  font-size: 1em;
}

@media only screen and (max-width: 1024px) {
  #topic-container {
    justify-content:start;
    flex-flow: row nowrap; 
    max-height: 30vh;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}