.topics-img{
    height: 15rem;
    width: 19.5rem;
    border-radius: 15px;
    cursor: pointer;
}
.col-25{
    font-size: 1.3rem;
}
* {
  box-sizing: border-box;
}


.column {
  float: left;
  width: 25%;
  padding: 0 10px;

}
