:root{
    --card-br : 10px;
  }
  
  .icon-card {
    transition: all 0.2s;
    position: relative;
    text-align: center;
    width: 9rem;
    height: 9rem;
    border-radius: var(--card-br);  
    cursor: pointer;
  }
  
  .icon-card  img {
    border-radius: var(--card-br);
    width: 7rem;
    height: 7rem;
    object-fit: cover;
  }
  
  .icon-card:hover {
    transform: scale(1.1);
  }
  #icon-container {
    display: flex;
    flex-flow: column;
    max-width: 80vw;
    flex-flow: row wrap;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    margin-top: 25px;
  }

  .icon-img:focus{
    transform: scale(1.1);
    object-fit: cover;
    cursor: pointer;
    box-shadow: 0 0px 8px 8px rgba(36, 80, 116, 0.705);
  }
  