
.highscores-container {
    width: 60%;
    padding: 20px;
    border-radius: 20px;
    max-width: 100%;
    height: 80%;
    overflow-y: scroll;
}

.highscores-text {
    margin-bottom: 20px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
}