
nav {
    width: 100%;
    background-color: #671e14; 
    /* padding: 25px 50px; */
    display: flex;
    justify-content: space-evenly;
}

nav > a {
    height: 100%;
    width: 100%;
    color: #c2895c;
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    padding: 3rem;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

a:hover { 
    font-weight: 800;
    color: rgb(240, 42, 42);
}

.active {
    color: white;
}

/* .home-link { color: white; } */

.nav-head {
    width: 820px
}

.nav-logo {
    width: 200px;
    height: 200px;
}

/* .nav-links {
    padding-left: 0px;
} */

