/* Ipads */
@media only screen and (max-device-width: 1025px) {
  /* Start a quiz page */
  .room-form{
    height: 50rem;
    width: 58rem;
    font-size: 2rem;
    padding-top: 7rem;
  }
  .icon-card {
      position: relative;
      text-align: center;
      width: 7rem;
      height: 7rem;
    }
    .icon-img:hover {
      width: 9rem;
      height: 9rem;
      object-fit: cover;
      cursor: pointer;
    }
    #icon-container {
      display: flex;
      flex-flow: column;
      max-width: 80vw;
      flex-flow: row wrap;
      justify-content: center;
      border-radius: 10px;
      width: 100%;
      margin-top: 7rem;
      margin-left: 1rem;
    }
   form label{
     font-size: 2rem;
   }
   #icon-container p{
     font-size: 2rem;
   }
    form input[type=text] {
        font-size: 1.9rem;
        width: 13.8rem;
    }
    form button[type=submit] {
        margin-left: 40%;
        margin-top: 2rem;
    }
    nav {
      float: none;
      width: 100%;
      font-size: 2rem;
    }
    .waiting-room {
      height: 55rem;
      margin-top: 0.5rem;
      width: 51rem;
    }
    .room-users {
      height: 25.5rem;
      width: 19.3rem;
      font-size: 1.5rem; 
      }
    .room-chat {
       font-size: 1.2rem;
    }
    .quiz-form{
      font-size: 1.4rem;
      height: 54rem;
      margin-top: 5rem;
    }
    [role=form] {
      margin-top: -3.1rem;
      font-size: 1.2rem;
    }
    #topic-container{
      height: 45rem;
  }
    .topic-card{
      height: 11rem;
      width: 11rem;
    }
    #difficulties{
      font-size: 1.5rem;
      width: 27rem;
      height: 3rem;
      border-radius: 12px;
    }
    #questions{
      font-size: 1.2rem;
      width: 27rem;
      height: 3rem;
      border-radius: 12px;
    }
    form input[type=text]{
      height: 3rem;
      margin-bottom: -3rem;
    }
    /* leaderboard page */
    .highscores-container{
      width: 60rem;
      height: 60rem;
    }
    thead{
      font-size: 3rem;
    }
    tbody{
      font-size: 2.5rem;
    }
}
/* Phones */
@media only screen and (max-device-width: 420px) {
  /* Start a quiz page */
  .room-form{
    height: 50rem;
    width: 57rem;
    font-size: 1.8rem;
    margin-top: 7rem;
    font-weight: bolder;
  }
  .icon-card {
      position: relative;
      text-align: center;
      width: 7rem;
      height: 7rem;
    }
    .icon-img:hover {
      width: 9rem;
      height: 9rem;
      object-fit: cover;
      cursor: pointer;
    }
    #icon-container {
      display: flex;
      flex-flow: column;
      max-width: 80vw;
      flex-flow: row wrap;
      justify-content: center;
      border-radius: 10px;
      width: 100%;
      margin-top: 7rem;
    }
    form label{
      font-size: 1.8rem;
    }
    #icon-container p{
      font-size: 1.8rem;
    }
   
    form input[type=text] {
      font-size: 1.5rem;
      width: 90%;
      margin-bottom: 5rem;
  }
    form button[type=submit] {
        margin-left: 40%;
        margin-top: 5rem;
    }
    nav {
      float: none;
      width: 100%;
      font-size: 2rem;
    }
    /* Waiting room page */
    .waiting-room {
      height: 75rem;
      margin-top: 1.3rem;
      width: 51rem;
    }
    .room-users {
      height: 32.5rem;
      width: 18.5rem;
      font-size: 1.5rem;
    }
    .room-chat {
       font-size: 1.2rem;
    }
    .quiz-form{
      font-size: 1.4rem;
      height: 74rem;
      margin-top: 5rem;
    }
    [role=form] {
      /* background-color: wheat; */
      margin-top: -5.5rem;
      font-size: 1.5rem;
    }
    #topic-container{
      height: 45rem;
  }
    .topic-card{
      height: 11rem;
      width: 11rem;
    }
    #difficulties{
      font-size: 1.5rem;
      width: 27rem;
      height: 3rem;
      border-radius: 12px;
    }
    #questions{
      font-size: 1.2rem;
      width: 27rem;
      height: 3rem;
      border-radius: 12px;
    }
    form input[type=text]{
      height: 3rem;
      margin-top: 1rem;
    }
    /* leaderboard page */
    .highscores-container{
      width: 60rem;
      height: 80rem;
    }
    thead{
      font-size: 3rem;
    }
    tbody{
      font-size: 2.5rem;
    }
  }

